@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#first-div {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-color: #000;
}

.links-from-nav {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 23px;
  top: 0;
  left: 110px;
  width: 100%;
  padding: 20px;
  font-weight: bold;
  font-size: 12px;
}

#logo-laranja {
  position: relative;
  right: 70px;
}


#img-home-background {
  position: absolute;
  top: 0;
  left: 0;
}

.btn-whatsapp {
  width: 180px;
  height: 40px;
  background-color: #25d364;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.btn-whatsapp > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgWPP {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

div#destacando-o-texto {
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 500px;
}

#destacando-o-texto > span.digitando {
  display: flex;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #e07000;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}


#section-quem-somos {
  background-color: #f4f4f4;
  width: 100%;
  height: 300px;
}

#section-quem-somos > span > p {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 35px;
  color: #003399;
  border-left: 5px solid #e07000;
  padding-left: 10px;
  position: relative;
  top: 70px;
  left: 30px;
}

#section-quem-somos > #pMono {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #003399;
  padding: 10px;
  line-height: 1.5;
  max-width: 800px;
  font-weight: 500;
  bottom: 37px;
  left: 220px;
}

section#solucoes {
  background-color: #003399;
  top: 500px;
  width: 1050px;
  height: 550px;
  color: #fff;
}

#h1-solucoes {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  position: relative;
  top: 55px;
  left: 175px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

#h1-solucoes > span#solucoes-em {
  justify-content: center;
  align-items: center;
}

#img-mulher {
  position: relative;
  bottom: 16px;
}

#container-solucoes {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 440px;
  right: 367px;
  gap: 25px;
  width: 700px;
}

#container-solucoes > .box1 {
  display: flex;
  width: 230px;
  height: 110px;
  border: 1px solid #fff;
  color: #fff;
  padding: 20px;
  position: relative;
  top: 40px;
  left: 800px;
  border-radius: 6px;
}

#container-solucoes > div.box1 > h3 {
  font-size: 14px;
  font-weight: bolder;
}

#container-solucoes > div.box1 > p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 42px;
  right: 160px;
  min-width: 200px;
}

h3#construcao-de-site {
  min-width: 160px;
}

div.box1 > #p-conteudo {
  position: relative;
  left: -80px;
}

div.box1 > #p-trafego {
  position: relative;
  left: -70px;
}

div.box1 > #p-consultoria {
  position: relative;
  left: -100px;
}